In [2]:
import pandas as pd

import xgboost as xgb
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.pipeline import Pipeline

from database import Database

In [3]:
db = Database('economic')

In [5]:
df = pd.read_sql('select * from base.fred_metrics_data',db.conn)

/var/folders/h4/m2b0xv3516j0m7h2zxr_r9d80000gn/T/ipykernel_36587/356118361.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from base.fred_metrics_data',db.conn)

In [8]:
df.loc[df.metric_id=='CORCCACBS']

       metric            metric_dt  metric_id       topic
285566    1.9  1985-01-01 00:00:00  CORCCACBS  charge off
285567   2.26  1985-04-01 00:00:00  CORCCACBS  charge off
285568   2.68  1985-07-01 00:00:00  CORCCACBS  charge off
285569   2.92  1985-10-01 00:00:00  CORCCACBS  charge off
285570   3.14  1986-01-01 00:00:00  CORCCACBS  charge off
...       ...                  ...        ...         ...
285714   1.71  2022-01-01 00:00:00  CORCCACBS  charge off
285715   1.82  2022-04-01 00:00:00  CORCCACBS  charge off
285716   2.14  2022-07-01 00:00:00  CORCCACBS  charge off
285717   2.54  2022-10-01 00:00:00  CORCCACBS  charge off
285718    2.9  2023-01-01 00:00:00  CORCCACBS  charge off

[153 rows x 4 columns]